<div class="large-8 medium-8 cell" id="add-url-form" >
    <h5>Add a new URL</h5>
    <span>[<a hx-get="/bulk_add" hx-target="#add-url-form" href="#">bulk</a>]</span>
    <form onsubmit="return false">
        <div class="grid-x grid-padding-x">
            <div class="large-6 cell">
                <label>Paste a URL</label>
                <input type="text" name="url" 
                    hx-post="/add"
                    hx-target="#add-url-form"  hx-trigger=""
                />
            </div>
            <div class="large-6 cell">
                {{ template "tags_widget.html" . }}
            </div>
        </div>
    </form>
    {{ if .error }}
     <p class="error">{{ .error }}</p>
    {{ else }}

    {{ if .bm }}
    Bookmark added - ID: {{ .bm.ID }} URL: {{ .bm.URL }}
    {{ end }}

    {{ end }}
</div>