<div class="large-8 medium-8 cell" id="add-url-form" >
    <div>
        <h5 style="display:inline-block;">Add a new URL</h5>
        <div  style="display:inline-block;">[<a hx-get="/bulk_add" hx-swap="outerHTML" hx-target="#add-url-form" href="#">bulk add</a>]</div></h5>
    </div>

    <form onsubmit="return false">
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label>URL</label>
                <input type="text" name="url" value="{{ .url }}"
                      hx-trigger=""
                />
            </div>
            <div class="medium-6 cell">
                {{ template "tags_widget.html" . }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <a href="#" class="button"  hx-post="/add"
                hx-target="#add-url-form">add</a>
            </div>
        </div>
    </form>
    {{ if .error }}
     <p class="error">{{ .error }}</p>
    {{ else }}

    {{ if .bm }}
    Bookmark added - ID: {{ .bm.ID }} URL: {{ .bm.URL }}
    {{ end }}

    {{ end }}
</div>