
<form onsubmit="return false;" id="edit-form" hx-target="#edit-form">
    <table>
        <tr>
            <th>Title</th>
            <td>
                <input type="text" name="title" {{ if not .bookmark.PreserveTitle }}disabled{{ end }} id="title" value="{{ .bookmark.Info.Title }}">
                <input id="checkbox" name="override_title" value="on" {{ if  .bookmark.PreserveTitle }}checked{{end}} type="checkbox" _="on click toggle @disabled on #title">
                <label for="checkbox">override scraped title (ignore page title when scraping)</label>
            </td>
        </tr>
        <tr>
            <th>URL</th>
            <td>{{ .bookmark.URL }}</td>
        </tr>
        <tr>
            <th>tags</th>
            <td>
                {{ template "tags_widget.html" .tw }}
            </td>
        </tr>

        <tr>
            <th>Created</th>
            <td>{{ (nicetime .bookmark.TimestampCreated).HumanDuration }}</td>
        </tr>
        <tr>
            <th>Last Scraped</th>
            <td>{{ (nicetime .bookmark.TimestampLastScraped).HumanDuration }}</td>
        </tr>
    </table>
    <p>
        <button type="button" hx-confirm="Delete this bookmark permanently?" hx-delete="/edit/{{.bookmark.ID}}" class="alert button">delete</button>
        <button type="button" class="button" hx-post="/edit/{{.bookmark.ID}}">save</button>
    </p>
</form>