<div class="grid-x grid-padding-x">
    <div class="large-6 medium-12 cell">

        <h5>System information</h5>
        <table>
            <tr><th>Memory in use</th><td>{{ meminfo }}</td></tr>
            <tr><th>Bookmarks DB  size</th><td>{{ niceSizeMB .stats.FileSize }}Mb</td></tr>
            <tr><th>Bookmarks index size</th><td>{{ niceSizeMB .stats.IndexSize }}Mb</td></tr>
            <tr><th>Bookmarks</th><td>{{ .stats.MostRecentBookmarkInfo.Bookmarks }}</td></tr>
            <tr><th>Total searches</th><td>{{ .stats.Searches }}</td></tr>
        </table>

        <h5>Database information</h5>
        <img src="/graph/bookmarks">

    </div>
    <div class="large-6 medium-12 cell">

        <h5>Release info</h5>
        {{ if not version.Remote.Valid }}
        <p>GitHub version information not yet fetched.</p>
        {{ else }}
        {{ if version.UpgradeAvailable }}
        <p>
            A new version is available: 
            <a href="https://github.com/tardisx/linkwallet/releases/tag/{{ version.Remote.Tag }}">
                {{ version.Remote.Tag }}
            </a>
            (you have {{ version.Local.Tag }}).
        </p>

        {{ markdown version.UpgradeReleaseNotes }}

        {{ else }}
        <p>You are currently running the most recent version.</p>
        {{ end }}
        {{ end }}

</div>