<div class="grid-x grid-padding-x" id="manage">
    <div class="large-12 cell">

        <h5>Manage links</h5>

        <form onsubmit="return false"> 
            <div class="grid-x grid-padding-x">
                <div class="large-12 cell">
                    <label>Filter</label>
                    <input type="text" name="query" placeholder="" hx-post="/manage/results" hx-swap="outerHTML"
                        hx-trigger="keyup changed delay:500ms, tag_update" hx-target="#manage-results"
                        hx-indicator="#htmx-indicator-search" id="manage-search" />
                </div>
            </div>
            {{ template "tags_widget.html" . }}
        </form>
        {{ template "manage_results.html" . }}
     
    </div>
</div>