<div id="label-widget">
    <div class="grid-x grid-padding-x">
        <div class="small-9 medium-10 large-5 cell" 
            hx-post="/tags"
            hx-target="#label-widget"
            hx-trigger="change">
            <label for="tag-entry" 
            class="Xtext-right Xmiddle">Tags</label>

            <input id="tag-entry" type="text" name="tag" placeholder="enter tags" />
        </div>
        <div class="small-12 large-6 cell">
            {{ range .tags }}
            <a href="#"
               title="remove {{ . }}"
               hx-trigger="click"
               hx-target="#label-widget"
               hx-post="/tags?remove={{ . }}">[-]</a>
                {{ . }}
            
            {{ end }}
            <input type="hidden" name="tags_hidden" value="{{ .tags_hidden }}">
        </div>    
    </div>
</div>