<div id="label-widget" >
    <div class="grid-x grid-padding-x">
        <div class="small-6 cell" 
            hx-post="/tags"
            hx-target="#label-widget"
            hx-trigger="change queue:first">
            <label for="tag-entry" 
                    class="">Tags</label>

            <input id="tag-entry" type="text" name="tag" placeholder="enter tags" />
        </div>
        <div class="small-6 cell" id="tags-list">
            {{ range .tags }}
            <a href="#"
               class=""
               title="remove {{ . }}"
               hx-trigger="click"
               hx-target="#label-widget"
               hx-post="/tags?remove={{ . }}">[-]</a>
               <span class="label primary">{{ . }}</span> 
            
            {{ end }}
            <input _="on load send tag_update to #manage-search" type="hidden" id="tags-hidden" name="tags_hidden" value="{{ .tags_hidden }}">
        </div>    
    </div>
</div>